body{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    border-bottom: 4px solid #B6E1E7;
    background-color: #F9B872;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

nav i{
    font-size:xx-large;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    letter-spacing: 6px;
}

nav ul li a{
    font-size: x-large;
    font-weight: bold;
}

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-color: #FAE7A5;
    border-bottom: 4px #B6E1E7 solid;
}

.FHeader{
    font-weight: bolder;
    font-size: 40px;
}

.Features{
    font-weight: 400;
    font-size: 20px;
}

.Features li{
    margin: 30px;
}

.right-content img{
    border-radius: 200px;
    border: 8px #B6E1E7 solid;
}

.types{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-color: #F9B872;
    border-bottom: 4px #B6E1E7 solid;
}

.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

.card img{
    border-radius: 50px;
    border: 8px #B6E1E7 solid;
}

.card p{
    text-align: center;
    font-size: 20px;
}

.quote{
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: #FAE7A5;
}

.quote h2{
    align-self: center;
    font-size: 50px;
    width: 600px;
    font-weight: 300;
}

.quote h3{
    align-self: flex-end;
    font-size: 30px;
}